
<div class="navbar fixed-top navbar-expand-lg navbar-dark ie-nav direction site-color height-header2 " [containerInside]="false">
  <div class="container m-auto height-header1 height-width">

    <a routerLink="/home"><img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-fater.png"></a>
      <ul class="navbar-nav direction right-button ">

        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle  type="button" class="nav-link dropdown-toggle  font-17 right-line1 "  > مجموعه ها<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item  font-17"  routerLink="/collections">تماس با ما</a>
            <a class="dropdown-item  font-17"  routerLink="/collections"> تماس با ما</a>
            <a class="dropdown-item  font-17"  routerLink="/collections"> تماس با ما</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light font-17"  routerLink="/home">تماس با ما</a>
          </div>
        </li>

        <!-- Dropdown -->
        <li class="nav-item  " >
          <a class="nav-link font-17 right-line" routerLink="/abilities">توانمندی ها <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " >
          <a class="nav-link font-17 right-line" routerLink="/about-us">درباره ی ما </a>
        </li>
        <li class="nav-item " >
          <a class="nav-link font-17 right-line" routerLink="/contact-us">تماس با ما</a>
        </li>
        <li class="nav-item " >
      </ul>
    <!-- Dropdown -->

    <ul class="left-buttom">
      <li class="nav-item dropdown navbar-nav " dropdown>
      <a dropdownToggle  type="button" class="nav-link dropdown-svg left-button dropdown-toggle font-17 color-btn right-line1"  >همکاری<span class="caret"></span></a>
      <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
        <a class="dropdown-item  font-17"  routerLink="/home">تماس با ما</a>
        <a class="dropdown-item  font-17"  routerLink="/home"> تماس با ما</a>
        <a class="dropdown-item  font-17"  routerLink="/home"> تماس با ما</a>
        <div class="divider dropdown-divider"></div>
        <a class="dropdown-item  font-17"  routerLink="/home">تماس با ما</a>
      </div>
    </li>
    </ul>
    <!-- Dropdown -->

  </div>


</div>




<!--<br>-->
<!--<br>-->
<!--<div class="row">-->
  <!--<div class="col-xs-12 col-md-8 col-md-offset-2">-->
    <!--<h5>{{ account.name }}</h5>-->
    <!--<hr>-->
    <!--<p>وضعیت این حساب کاربری: {{ account.status }}</p>-->
    <!--<button class="btn btn-default" (click)="onSetTo('فعال')">تغییر وضعیت به «فعال»</button>-->
    <!--<button class="btn btn-default" (click)="onSetTo('غیرفعال')">تغییر وضعیت به «غیرفعال»</button>-->
    <!--<button class="btn btn-default" (click)="onSetTo('مخفی')">تغییر وضعیت به «مخفی»</button>-->
  <!--</div>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--<div class="row">-->
  <!--<div class="col-xs-12 col-md-8 col-md-offset-2">-->
    <!--<h5>{{ account.name }}</h5>-->
    <!--<hr>-->
    <!--<p>وضعیت این حساب کاربری: {{ account.status }}</p>-->
    <!--<button class="btn btn-default" (click)="onSetTo('فعال')">تغییر وضعیت به «فعال»</button>-->
    <!--<button class="btn btn-default" (click)="onSetTo('غیرفعال')">تغییر وضعیت به «غیرفعال»</button>-->
    <!--<button class="btn btn-default" (click)="onSetTo('مخفی')">تغییر وضعیت به «مخفی»</button>-->
  <!--</div>-->
<!--</div>-->
