//.mt-header{
//  margin-top: 68px;
//}
.direction{
  direction: rtl !important;
}
.site-color{
  background-color: rgba(34,59,64,1.0);
}
.container{
  max-width: 1166px;
  margin: 0;
  padding: 0;
}
.height-width{
  height: 65px;
}
.left-button{
  background-color: #8beeff;
  border-radius: 17px;
  width: 129px;
  height: 35px;
  float: left;
  text-align: center;
  padding-top: 5px;
}
.right-button{
  position: relative;
  left: 270px;
}
.color-btn{
  color: #223b40 !important;
}
.dropup {
  .dropdown-menu {
    margin-right: 14px !important;
  }
}
