
.direction{
  direction: rtl !important;
}
.color-text2{
  color: #223b40;
  text-align: right;
}
.bg-footer2 {
  height: 108px;
  width: 338px;
  border: solid 2px rgba(139, 238, 255, 1.0);
  padding: 12px !important;

}
.dropdown-toggle {
  margin-right: 14px;
}
@media ( min-width: 576px){


}
@media ( min-width: 992px)
{
  .page-footer .container{
    //max-width: 900px;
  }

  .part3-footer.col-lg-2{
    min-width: 71px !important;
    position: relative;
    left: 12px;
  }
}
.bg-footer{
  background-color: #9e9e9e;
}

@media ( min-width: 768px ) and ( max-width: 992px ){
  .part4-footer {

    position: relative;
    left: 63px;
    min-width: 238px;
  }
  .part2-footer{
    position: relative;
    left: 72px;
  }
  .part3-footer{
    position: relative;
    left: 83px;
  }
  .part1-footer{
    position: relative;
    left: 98px;
  }
  .part1-footer {
    text-align: right;
    line-height: 27px;
    padding: 20px !important;
    bottom: 8px;

  }
  .bg-footer2 {
    position: relative;
    right: 105px;
    width: 240px;
  }
  }

@media ( min-width: 1200px ) and ( max-width: 1500px ) {

  .part3-footer{
    position: relative;
    left: 0;
  }


}
