<!--Footer-->
<div class="row bg-footer mt-5">
  <div class="container">
    <footer class="page-footer   text-center text-md-left pt-4 mt-4">
      <div class="">
        <div  class=" text-right" >
          <a><img routerLink="/home"  src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-fater-copy.png">
          </a>
        </div>
        <hr class="container mobile-queri" style=" border-top: 2px #223b40 solid; margin-bottom:28px ; margin-top: 5px; width: 90vw;">


        <!--Footer Links-->
          <div class="row  color-text2 mb-5 ">
            <!--First column-->
            <div class="col-sm-4 col-md-3 col-lg-4 offset-md-1 part1-footer m-0 d-xs-none">
              <p class="m-0 font-16 bg-footer2">آدرس: بلوار میرداماد ، بین نفت و مدرس ، پلاک 239.</p>
            </div>
            <!--/.First column-->
            <!--Third column-->
            <div class="col-sm-4 col-md-2 col-lg-2 m-0 part3-footer line-height-footer d-xs-none">
              <ul class="list-unstyled">
                <li>
                  <a routerLink="/about-us" class="font-16 color-text2 ">مشتریان</a>
                </li>
                <li>
                  <a routerLink="/about-us" class="font-16 color-text2">سیاست های کاری</a>
                </li>
              </ul>
            </div>
            <!--/.Third column-->
            <!--Fourth column-->
            <div class="col-sm-4 col-md-2 col-lg-2 m-0 part2-footer line-height-footer d-xs-none">
              <ul class="list-unstyled">
                <li>
                  <a routerLink="/contact-us" class="font-16 color-text2">ارتباط با ما</a>
                </li>
                <li>
                  <a routerLink="/about-us" class="font-16 color-text2">درباره ما</a>
                </li>
                <li>
                  <a routerLink="/contact-us" class="font-16 color-text2">پرسش های متداول</a>
                </li>
              </ul>
            </div>
            <!--/.Fourth column-->
            <!--First column-->
            <div class="col-md-3 col-lg-4 offset-md-1 part4-footer m-0 d-xs-none">
              <p class="header-of-part1 "> ماموریت مجموعه</p>
              <p class="m-3" class="font-16">آدرس
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی</p>
            </div>
            <!--/.First column-->
          </div>
        </div>
        <!--/.Footer Links-->
    </footer>
    <!--/.Footer-->
  </div>
</div>

<!--<div class="row">-->
<!--<div class="col-xs-12 col-md-8 col-md-offset-2">-->
<!--<div class="form-group">-->
<!--<label>نام کاربری</label>-->
<!--<input-->
<!--type="text"-->
<!--class="form-control"-->
<!--#accountName>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<select class="form-control" #status>-->
<!--<option value="فعال">فعال</option>-->
<!--<option value="غیرفعال">غیرفعال</option>-->
<!--<option value="مخفی">مخفی</option>-->
<!--</select>-->
<!--</div>-->
<!--<button-->
<!--class="btn btn-primary"-->
<!--(click)="onCreateAccount(accountName.value, status.value)">-->
<!--اضافه کردن کاربر-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
