.footer-color{
  height: 324px;
  margin-top: 50px !important;

}
.color-text2{
  color: #223b40;
  text-align: right;


}
.bg-footer2 {
  height: 108px;
  width: 338px;
  border: solid 2px rgba(139, 238, 255, 1.0);

}
.dropdown-toggle {
  margin-right: 14px;
}
