<!--Footer-->
<footer class="page-footer  footer-color text-center text-md-left pt-4 mt-4">

  <div class=" direction row container-footer">
    <a><img routerLink="/home" class="float1" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-fater-copy.png">
    </a>
  </div>

  <hr style="width: 1125px; border-top: 2px #223b40 solid">
  <!--Footer Links-->
  <div class=" container-three  color-text2">
    <div class="row  color-text2 ">



      <!--<hr class="hidden-md-up">-->

      <!--First column-->
      <div class="col-md-3 offset-md-1 part1-footer m-0 ">
        <p class="m-0 font-16 bg-footer2">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
      </div>
      <!--/.First column-->
      <!--<hr class="hidden-md-up">-->

      <!--Third column-->
      <div class="col-md-2 m-0 part3-footer">
        <ul class="list-unstyled">
          <li>
            <a routerLink="/about-us" class="font-18 color-text2">مشتریان</a>
          </li>
          <li>
            <a routerLink="/about-us" class="font-18 color-text2">سیاست های کاری</a>
          </li>
        </ul>
      </div>
      <!--/.Third column-->

      <!--<hr class="hidden-md-up">-->

      <!--Fourth column-->
      <div class="col-md-2 m-0 part2-footer">
        <ul class="list-unstyled">
          <li>
            <a routerLink="/contact-us" class="font-18 color-text2">ارتباط با ما</a>
          </li>
          <li>
            <a routerLink="/about-us" class="font-18 color-text2">درباره ما</a>
          </li>
          <li>
            <a routerLink="/contact-us" class="font-18 color-text2">پرسش های متداول</a>
          </li>
        </ul>
      </div>
      <!--/.Fourth column-->
      <!--First column-->
      <div class="col-md-3 offset-md-1 part1-footer m-0">
        <p class="m-0" class="font-16">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.ی</p>
      </div>
      <!--/.First column-->
    </div>
  </div>
  <!--/.Footer Links-->

</footer>
<!--/.Footer-->
