<div class="height-header"></div>
<!--<div class="row mt-5">-->
<div class="row ">
  <div class="container information">
    <div class="sec1-of-information site-color">
      <div class="text-sec1-information">
        <h1 class="title-of-information">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</h1>
      </div>
      <!--</div>-->
      <div class="row">
        <img class="information-image img-fluid" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b03d054fda4ae000c932b3d/5b03e525fda4ae000b3d48ab/img/desktop-rectangle-3.png">
      </div>
    </div>
  </div>
</div>

<!--*******************************************************************-->
<div class="row m-one-row text-justify">
  <div class="information-caption container m-auto">
    <div class="title-of-caption ">
      <h1 class="font-20 ">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
      </h1>
      <p class="font-18 ">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
      </p>
    </div>
    <div class="image-of-caption">
      <img class="center-image img-fluid" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b03d054fda4ae000c932b3d/5b03ed69fda4ae000b3d48f1/img/desktop-rectangle-5-copy.png">

    </div>
    <div class="title-of-caption pt-5">
      <p class="font-18 ">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
      </p>
    </div>
  </div>
</div>
<!--*******************************************************************-->
<div class="row mt-5 mb-5 ">
  <div class="assist-section m-auto">
    <div class="container">
    <h1 class="font-24 ">
      به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.
    </h1>
    <a class="nav-link btn-assist font-20" routerLink="/news">همکاری</a>
    </div>
  </div>
</div>
<!--**************************************information-cards*****************************************-->
<div class="row">
  <div class="container home-cards">

    <div class="col-xs-4  col-xl-4 col-lg-4 col-sm-6 d-inline-block mb-0 mb-sm-5  " *ngFor="let program of receivedPageData.other_program; let i=index ">

      <!--Card-->
      <div class="card news-card-shadow mx-auto" [class.d-none]="i>=2"  [class.d-md-block]="i<=3" [class.d-lg-none]="i>=3">
        <!--[class.d-lg-block]="i<=8">-->
        <!--Card image-->
        <div class="view  waves-light img-of-card" mdbWavesEffect>
          <img src="{{ program.img }}" class="img-fluid  ffff" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <span>   <div class="share-icon-div ">
            <a class="activator p-3 mr-2  share-icon" routerLink="/information">
              <i class="fa fa-share-alt rotate-icon "></i>
            </a>
          </div>
        </span>

        <!--Card content-->
        <div class="card-body">
          <!--Text-->
          <p class="card-text card-text1 font-18">{{ program.caption }}</p>
        </div>
        <!--Card content-->

      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
