<div class="height-header"></div>

<div class="row">
  <div class="container-about-us row ">
    <div class="part3-about-us">
      <!--////////////////////////////////////-->


      <!--&lt;!&ndash; Material form register &ndash;&gt;-->
      <!--<form >-->

      <!--&lt;!&ndash; Material input text &ndash;&gt;-->
      <!--<div >-->
      <!--<input type="text"  class=" border-2" >-->
      <!--<label  class="font-weight-light">عنوان</label>-->
      <!--</div>-->

      <!--&lt;!&ndash; Material input email &ndash;&gt;-->
      <!--<div >-->
      <!--<input type="email"   class=" border-2" >-->
      <!--<label class="font-weight-light">ایمیل</label>-->
      <!--</div>-->

      <!--&lt;!&ndash; Material input email &ndash;&gt;-->
      <!--<div >-->
      <!--<input type="email" id="text-email" class=" border-2" >-->
      <!--<label for="text-email" class="font-weight-light">متن ایمیل</label>-->
      <!--</div>-->



      <!--<div class="text-center py-4 mt-3">-->
      <!--<button class="btn btn-cyan waves-light" type="submit" >Register</button>-->
      <!--</div>-->
      <!--</form>-->
      <!--&lt;!&ndash; Material form register &ndash;&gt;-->




      <input class="name-contact direction pr-5 form-control" placeholder="نام" type="email" >
      <input class="email-contact direction pr-5 form-control" placeholder="ایمیل" type="email" >
      <input class="text-email-contact direction pr-5 form-control md-textarea" placeholder="متن ایمیل" type="email" >

      <button class="btn-contact btn "><a>ارسال</a> </button>

      <!--////////////////////////-->
    </div>
    <div class="width-part1">
      <div class="part1-about-us site-color-light direction">

        <div class="card-body contact text-center h-100 white-text pr-2">

          <ul class="text-lg-left list-unstyled ml-4">
            <li class=" display-contact pt-5">
              <i class="fa fa-phone pr-2 pl-3"></i>
              <p >
                + 01 234 567 89</p>
            </li>
            <li class=" display-contact pt-3">
              <i class="fa fa-envelope pr-2 pl-3 "></i>
              <p >
                contact@example.com</p>
            </li>
            <li class=" display-contact pt-3">
              <i class="fa fa-map-marker location-size-icon pr-2 pl-3 "></i>
              <p >
                New York, 94126, USA</p>
            </li>
          </ul>


        </div>


        <!-- Section: Contact v.3 -->

      </div>
      <div class="part2-about-us">

        <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height:300px">
          <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
        </agm-map>

      </div>
    </div>
  </div>
</div>
