<div class="height-header"></div>


<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade my-style" [animation]="'fade'">
  <!--First slide-->
  <mdb-slide>
    <img class=" width-cars shadow-card" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-rectangle-6%203.png" alt="First slide">
    <div class="carousel-caption  caption-one ">
      <div class="bg-cap">
        <h1 >اهداف ما</h1>
        <h4 class="width-text ">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیش
          تری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و
          فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت م
          ی توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخ
          ت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته
          اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</h4>
      </div>
    </div>
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <img class=" width-cars shadow-card" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-rectangle-6%203.png" alt="First slide">
    <div class="carousel-caption caption-one ">
      <div class="bg-cap">
        <h1 >اهداف اونها</h1>
        <h4 class="width-text ">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیش
          تری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و
          فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت م
          ی توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخ
          ت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته
          اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</h4>
      </div>
    </div>
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <img class=" width-cars shadow-card" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-rectangle-6%203.png" alt="First slide">
    <div class="carousel-caption caption-one ">
      <!--<div class="bg-cap">-->
      <h1 class="font-29">اهداف اینها</h1>
      <h4 class="width-text font-20">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیش
        تری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و
        فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت م
        ی توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخ
        ت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته
        اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</h4>
      <!--</div>-->
    </div>
  </mdb-slide>
  <!--/.Carousel Wrapper-->
</mdb-carousel>
