.container-about-us{
  width: 1040px;
  height: 588px;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}
.width-part1{
  width: 520px;
  height: 588px;
  display: block;
  margin-right: 0 !important;
}
.part1-about-us{
  width: 520px;
  height: 278px;
  margin-right: 0 !important;
}
.part2-about-us{
  width: 520px;
  height: 311px;
  margin-right: 0 !important;
}
.part3-about-us{
  width: 520px;
  height: 588px;
  margin-right: 0 !important;
  border-left: 2px solid #223b40;
  border-top: 2px solid #223b40;
  border-bottom: 2px solid #223b40;
}
.site-color-light{
  background-color: rgb(70, 119, 126);

}
