<div class="height-header"></div>


<!--<div class="container-sec1 ">-->

  <!--Carousel Wrapper-->
  <mdb-carousel  class="news-slider" [isControls]="true" [animation]="'slide'">
    <!--First slide-->
    <mdb-slide class="news-slider"  >
      <img class="d-block w-100" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b02c8b63a51d5000bd4755c/img/desktop-rectangle-3.png" alt="First slide">
    </mdb-slide >
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide class="news-slider" >
      <img class="d-block w-100" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-photo-1514043454212-14c181f46583.png" alt="Second slide">
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide class="news-slider" >
      <img class="d-block w-100" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b02c8b63a51d5000bd4755c/img/desktop-rectangle-3.png" alt="Third slide">
    </mdb-slide>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->


<!--</div>-->

<!--&lt;!&ndash;///////////////////////////////////////////&ndash;&gt;-->

<div class="card-news ">

<div class="container-two pb-5 row">

  <div class="card width-card2 card-shadow1">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b03c282fda4ae000d6d20ac/img/desktop-rectangle-13-copy 2.png" class="img-fluid" alt="fern">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-width">
      <div class="share-icon-div ">
        <a class="activator p-3 mr-2  share-icon">
          <i class="fa fa-share-alt rotate-icon "></i>
        </a>
      </div>
      <p class="card-text card-text1">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
    </div>
    <!--/.Card content-->
  </div>

  <div class="card width-card2 card-shadow1">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b03c282fda4ae000d6d20ac/img/desktop-rectangle-13-copy 1.png" class="img-fluid" alt="fern">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-width ">
      <div class="share-icon-div ">
        <a class="activator p-3 mr-2  share-icon">
          <i class="fa fa-share-alt rotate-icon "></i>
        </a>
      </div>
      <p class="card-text card-text1">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
    </div>
    <!--/.Card content-->
  </div>


  <div class="card width-card2 card-shadow1">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b03c282fda4ae000d6d20ac/img/desktop-rectangle-13-copy.png" class="img-fluid" alt="fern">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-width">
      <div class="share-icon-div ">
        <a class="activator p-3 mr-2  share-icon">
          <i class="fa fa-share-alt rotate-icon "></i>
        </a>
      </div>
      <p class="card-text card-text1">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
    </div>
    <!--/.Card content-->
  </div>

</div>
<div class="container-two pb-5 row">

  <div class="card width-card2 card-shadow1">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b03c282fda4ae000d6d20ac/img/desktop-rectangle-13-copy 5.png" class="img-fluid" alt="fern">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-width">
      <div class="share-icon-div ">
        <a class="activator p-3 mr-2  share-icon">
          <i class="fa fa-share-alt rotate-icon "></i>
        </a>
      </div>
      <p class="card-text card-text1">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
    </div>
    <!--/.Card content-->
  </div>

  <div class="card width-card2 card-shadow1">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b03c282fda4ae000d6d20ac/img/desktop-rectangle-13-copy 4.png" class="img-fluid" alt="fern">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-width ">
      <div class="share-icon-div ">
        <a class="activator p-3 mr-2  share-icon">
          <i class="fa fa-share-alt rotate-icon "></i>
        </a>
      </div>
      <p class="card-text card-text1">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
    </div>
    <!--/.Card content-->
  </div>


  <div class="card width-card2 card-shadow1">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b03c282fda4ae000d6d20ac/img/desktop-rectangle-13-copy 3.png" class="img-fluid" alt="fern">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-width">
      <div class="share-icon-div ">
        <a class="activator p-3 mr-2  share-icon">
          <i class="fa fa-share-alt rotate-icon "></i>
        </a>
      </div>
      <p class="card-text card-text1">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
    </div>
    <!--/.Card content-->
  </div>

</div>
<div class="container-two  row">

  <div class="card width-card2 card-shadow1">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b03c282fda4ae000d6d20ac/img/desktop-rectangle-13-copy 8.png" class="img-fluid" alt="fern">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-width">
      <div class="share-icon-div ">
        <a class="activator p-3 mr-2  share-icon">
          <i class="fa fa-share-alt rotate-icon "></i>
        </a>
      </div>
      <p class="card-text card-text1">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
    </div>
    <!--/.Card content-->
  </div>

  <div class="card width-card2 card-shadow1">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b03c282fda4ae000d6d20ac/img/desktop-rectangle-13-copy 7.png" class="img-fluid" alt="fern">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-width ">
      <div class="share-icon-div ">
        <a class="activator p-3 mr-2  share-icon">
          <i class="fa fa-share-alt rotate-icon "></i>
        </a>
      </div>
      <p class="card-text card-text1">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
    </div>
    <!--/.Card content-->
  </div>


  <div class="card width-card2 card-shadow1">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02c4c93a51d5000d9d9c29/5b03c282fda4ae000d6d20ac/img/desktop-rectangle-13-copy 6.png" class="img-fluid" alt="fern">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-width">
      <div class="share-icon-div ">
        <a class="activator p-3 mr-2  share-icon">
          <i class="fa fa-share-alt rotate-icon "></i>
        </a>
      </div>
      <p class="card-text card-text1">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
    </div>
    <!--/.Card content-->
  </div>

</div>
</div>

<!--/////////////////////////////////////-->


<div class="row text-center1 add-btn ">
  <a class="nav-link btn-news font-20" routerLink="/news">بیشتر</a>
</div>
