.banner{
  background: url("https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-photo-1514043454212-14c181f46583.png")0 0 /cover;
  direction: rtl;
  height: 416px;
  min-width: 100vw;
}
.news{
  height: 711px;
}
//************************************medium-card***************************************
.news-card {
  width: 340px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: table;
  overflow: hidden;
}
.card-text1 {
  position: relative;
  bottom: 47px;
  direction: rtl;
  line-height: 30px;
  color: #223b40;
  text-align: right;
}
.card .card-body .card-text {
  font-weight: 500;
  font-size: 18px;
}
//************************************medium-card***************************************
//*************************************Button*********************************************
.text-center1 {
  text-align: center;
  justify-content: center;
}
.btn-news {
  background-color: rgba(34, 59, 64, 1.0);
  border-radius: 27px;
  width: 231px;
  height: 55px;
  float: left;
  text-align: center;
  color: #ffffff !important;
  padding-top: 18px;
  margin-bottom: 20px;
}
.add-btn {
  position: relative;
  bottom: 20px;
}
//*************************************Button*********************************************
//******************************************cards**************************************************
.news-card-shadow {
  -webkit-box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.3);
}
//******************************************cards**************************************************
//*******************************share-icon*********************************
.share-icon {
  z-index: 500;
  font-family: normal;
  left: 3px;
  font-size: 16px;
  position: relative;
  top: 18px;
  color: #000;
  text-decoration: none;
}
.share-icon:hover {
  color: #000;
}

.share-icon-div {
  position: relative;
  bottom: 27px;
  left: 25px;
  height: 52px !important;
  width: 52px !important;
  border-radius: 50%;
  background-color: #01b8ca;
  z-index: 500;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.6);
}
.share-icon .fa-share-alt {
  font-size: 15px;
}
.rotate-icon {
  transform: rotate(-90deg);
}
//*******************************share-icon*********************************
mdb-carousel{
  position: relative;
  bottom: 68px !important;
}
mdb-carousel .carousel-indicators {
  position: relative !important;
  top: 542px!important;
  left: 35px!important;
  background-color: navajowhite!important;
}

body {
  touch-action: unset !important;
  user-select: unset !important;
  -webkit-user-drag: unset !important;
  overflow-x: hidden;
  font-family: IRANSans;
  font-weight: 300;
  box-sizing: border-box;
}
.news-slider {
  height: 455px;
  width: 100vw;
  object-fit: cover;
}
.news-slider img {
  min-height: 455px;
}

.news-slider ol {
  top: 475px;
}
.news-slider .carousel-control-next {
  display: none;
}
.news-slider .carousel-control-prev {
  display: none;
}
.news-slider .carousel-indicators li {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #d8d8d8;
}
.news-slider .carousel-indicators .active {
  background-color: #01b8ca;
}
.news-slider .carousel-indicators {
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.toolbar-home{
  width: auto;
  height: 95px;
  border-radius: 200px;
  margin: auto;
  position: relative;
  bottom: 48px;
  justify-content: center;
}
.site-color-light{
  background-color: rgb(70, 119, 126);
}

.first-logo{
  margin: 10px 0;
  align-items: center;
  width: auto;
}
.w-200{
  width: 22%;
}
.m-auto{
  position: relative;
  right: 75px;
}

.carousel-caption h4{
  line-height: 30px;

}

.navbar-nav.logo{
  flex-direction: row ;
}
//***********************************************************
//***********************************************************
//***********************************************************
/////////////////////////////////////media/////////////////////////////////////////+++++++++++++



@media (max-width: 576px) {
  .share-icon-div {
    position: relative;
    bottom: 27px;
    left: 25px;
    height: 52px !important;
    width: 52px !important;
    border-radius: 50%;
    background-color: #01b8ca;
    z-index: 500;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, .6);
  }
}

@media (min-width: 576px) {
  .share-icon-div {
    position: relative;
    bottom: 27px;
    left: 25px;
    height: 52px !important;
    width: 52px !important;
    border-radius: 50%;
    background-color: #01b8ca;
    z-index: 500;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, .6);
  }
}



@media (min-width: 768px) {
  .share-icon-div {
    position: relative;
    bottom: 27px;
    left: 25px;
    height: 52px !important;
    width: 52px !important;
    border-radius: 50%;
    background-color: #01b8ca;
    z-index: 500;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, .6);
  }
  .carousel.my-style{
    touch-action: auto;
    user-select: all;
    -webkit-user-drag: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  mdb-carousel .slide-point .carousel-control-prev {
    display: none;
  }
  mdb-carousel .slide-point .carousel-control-next {
    display: none;
  }

  .logos-home.container{
    max-width: 740px;
    min-width: 740px;
  }
  .carousel-caption {
    height: 400px;
    width: 577px;
    top: 430px;
    left: 75px;
  }
  a.carousel-control-prev {
    display: none;
  }
  a.carousel-control-next {
    display: none;
  }



}

@media (min-width: 992px){
  .logos-home.container{
    max-width: 960px;
    min-width: 960px;
  }
  a.carousel-control-prev {
    display: none;
  }
  a.carousel-control-next {
    display: none;
  }
  .container.home-cards{
    min-width: 988px !important;
    max-width: 988px !important;
  }
  .container{
    main-width: 960px !important;
    max-width: 960px !important;

  }
  .img-of-card{
    //height:  212px !important;
  }
  .caption-one h1 {
    padding-bottom: 15px;
    text-align: right;
  }




  mdb-carousel.my-style .carousel-indicators ol{
    top: 26px !important;
    left: 125px !important;
  }
  mdb-carousel .my-style .carousel-indicators li {
    position: relative;
    bottom: 482px;
    right: 44px;
  }
  .width-cars {
    width: 520PX;
    height: 385px;
    position: relative;
    top: 27px;
    left: 75px;
  }

  .carousel-caption{
    position: relative;
    left: 24px;
    width: 392px;
    top: 5px;
  }
  .carousel-indicators{
    position: relative;
    top: 26px !important;
    left: 125px !important;
  }

}



@media (min-width: 1200px) {

  a.carousel-control-prev {
    display: none;
  }
  a.carousel-control-next {
    display: none;
  }

  .carousel-caption{
    position: relative;
    left: 50px;
    width: 450px;
  }
  .carousel-indicators{
    position: relative;
    top: 26px !important;
    left: 125px !important;
  }

  mdb-carousel .my-style .carousel-indicators li {
    position: relative;
    bottom: 482px;
    right: 0 !important;
  }

  .container{
    main-width: 1166px !important;
    max-width: 1166px !important;
  }
  .card{
    width: 340px;
  }
  .container.home-cards{
    min-width: 1220px !important;
    max-width: 1220px !important;
  }

  .width-cars {
    width: 1125PX;
    height: 385px;
    position: relative;
    top: 20px;
    left: 75px;
  }




  .carousel-indicators{
    position: relative;
    top: 26px !important;
    left: 125px !important;
  }

}
////////////////////////////////////media/////////////////////////////////////////------------------

//*******************************************************************************
//*******************************************************************************
//*******************************************************************************
//*********************************************max-567***********************************************+++++++++

@media (max-width: 567px) {
  .card{
    width: 288px;
    margin-bottom: 55px;
  }

}
//*********************************************min-567***********************************************+++++++

@media (min-width: 567px) {

}

//*********************************************min-768***********************************************+++++++++

@media (min-width: 768px) {
  .img-of-card{
    height:  196.406px;
  }
  .card{
    width: 287px;
  }
}



//*********************************************min-992***********************************************++++++++

@media (min-width: 992px){
  .container.home-cards{
    min-width: 988px !important;
    max-width: 988px !important;
  }
}



//*********************************************min-1200***********************************************++++++++++

@media (min-width: 1200px){
  .container.home-cards{
    min-width: 1220px !important;
    max-width: 1220px !important;
  }
}

