//***********************************css-reset**********************************************++++++++

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

//***************^^^^^********************css-reset**********************************************-----------------
//*********************************************************************
//*********************************************************************
//*********************************************************************
.direction{
  direction: rtl !important;
}
@import url(css/fontiran.css);
.direction{
  direction: rtl !important;
}
body {

  overflow-x: hidden;
  font-family: IRANSans;
  font-weight: 300;
  box-sizing: border-box;
}

.font-17 {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  vertical-align: baseline;

}
.font-20 {
  font-size: 20px;
  font-weight: 500;
  vertical-align: baseline;
}
.font-29 {
  font-weight: 500;
  font-size: 29px;
  vertical-align: baseline;
}
.font-18 {
  font-size: 18px;
  font-weight: 500;
  vertical-align: baseline;
}
.font-16 {
  font-size: 16px;
  font-weight: 500;
  vertical-align: baseline;
}

//*****************************************************************
//*****************************************************************
//*****************************************************************
//*****************************************************************
//*******************************carousel***********************************+++++

mdb-slide {
  height: 570px;
}
mdb-carousel .slide-point .carousel-indicators li {
  background-color: #d8d8d8;
}
mdb-carousel .slide-point .carousel-control-prev {
  display: none;
}
mdb-carousel .slide-point .carousel-control-next {
  display: none;
}
mdb-carousel .container-sec1 .carousel-indicators li {
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-left: 7px;
}
mdb-carousel .carousel slide-point {
  height: 455px;
  width: 100%;
}

.my-style.carousel .carousel-inner{
  overflow: visible !important;
}
.carousel-inner .carousel-item {
  overflow: visible;
}
.carousel.slide.carousel-fade {
  touch-action: auto !important;
}
.carousel-control-prev-icon{
  display: none;
}
.carousel-control-next-icon{
  display: none;
}
.slide-point img {
  overflow: hidden;
}
.height-header {
  height: 65px;
  width: 100%;
}
.site-color {
  background-color: rgba(34, 59, 64, 1.0);
}
//*******************************carousel***********************************---------
//*********************************************************
//*********************************************************
//*********************************************************
//*****************************max-576*************************************+++++++++++++

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .row{
    display: block;
    //flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
  }
  .row.text-center1{
    display: flex;
    //flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
  }



  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }



}


//*****************************min-576*************************************+++++++++

@media (min-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .content.container{
    height: 630px;
  }
  .toolbar-home {
    margin-left: 0;
    margin-right: 0;
  }
  .row{
    display: flex;
    margin-right: 0;
    margin-left: 0;
  }
  .content.container {
    max-width: 540px;
    min-width: 540px;
  }
  .home-cards.container{
    max-width: 576px;
    min-width: 576px;
  }
  .logos-home.container{
    max-width: 570px;
    min-width: 570px;

  }





}


//*****************************min-768*************************************++++++++++++++

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .content.container{
    height: 630px;
  }
  .toolbar-home {
    margin-left: 0;
    margin-right: 0;
  }
  .home-cards.container{
    max-width: 720px;
    min-width: 720px;
  }
  .content.container{
    max-width: 746px;
    min-width: 746px;
  }
  .card{
    width: 320px;
  }




}


//*****************************min-992*************************************++++++++++++

@media ( min-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .content.container{
    height: 630px;
  }

  .mt-171{
    margin-top: 0;
  }



}


//*****************************min-1200*************************************+++++++++++++
@media (min-width: 1200px) {
  .content.container{
    height: 630px;
  }
  .toolbar-home {
    margin-left: 0;
    margin-right: 0;
  }
  body {
    overflow-x: hidden;
  }

  .mt-171{
    margin-top: 0;
  }



}


mdb-carousel.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 268px;
  left: 93px;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  background-color: darkblue;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  background-color: firebrick;
}
