.banner{
  background: url("https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-photo-1514043454212-14c181f46583.png") 0 0/cover;
  direction: rtl;
  height: 416px;
  width: 100%;
}
.news{
  height: 711px;
}
.toolbar-home{
  width: auto;
  height: 95px;
  border-radius: 200px;
  margin: auto;
  position: relative;
  bottom: 48px;
  justify-content: center;
}
.site-color-light{
  background-color: rgb(70, 119, 126);
}

.first-logo{
  margin: 10px 0;
  align-items: center;
  width: auto;
}

.m-auto{
  position: relative;
  right: 75px;
}

.carousel-caption h4{
  line-height: 30px;

}

.navbar-nav.logo{
  flex-direction: row ;
}


@media (min-width: 768px) {


  mdb-carousel .slide-point .carousel-control-prev {
    display: none;
  }
  mdb-carousel .slide-point .carousel-control-next {
    display: none;
  }

  .logos-home.container{
    max-width: 740px;
    min-width: 740px;
  }
  .carousel-caption {
    height: 400px;
    width: 577px;
    top: 430px;
    left: 75px;
  }
  a.carousel-control-prev {
    display: none;
  }
  a.carousel-control-next {
    display: none;
  }



}




@media (min-width: 992px){
  .logos-home.container{
    max-width: 960px;
    min-width: 960px;
  }
  a.carousel-control-prev {
    display: none;
  }
  a.carousel-control-next {
    display: none;
  }
  .container.home-cards{
    min-width: 988px !important;
    max-width: 988px !important;
  }
  .container{
    main-width: 960px !important;
    max-width: 960px !important;

  }
  .img-of-card{
    //height:  212px !important;
  }
  .caption-one h1 {
   padding-bottom: 15px;
    text-align: right;
  }
  mdb-carousel.my-style .carousel-indicators ol{
    top: 26px !important;
    left: 125px !important;
  }
  mdb-carousel .my-style .carousel-indicators li {
    position: relative;
    bottom: 482px;
    right: 44px;
  }
  .width-cars {
    width: 520PX;
    height: 385px;
    position: relative;
    top: 27px;
    left: 75px;
  }

  .bg-cap-z{
    z-index: -1;
    width: 885px;
    height: 375px;
    position: absolute;
    bottom: 137px;
    left: 45px;
    background-color: #223b40;
  }
  .carousel-caption{
    position: relative;
    left: 24px;
    width: 392px;
    top: 5px;
  }
  .carousel-indicators{
    position: relative;
    top: 26px !important;
    left: 125px !important;
  }

}



@media (min-width: 1200px) {

  a.carousel-control-prev {
    display: none;
  }
  a.carousel-control-next {
    display: none;
  }

  .carousel-caption{
    position: relative;
    left: 50px;
    width: 450px;
  }
  .carousel-indicators{
    position: relative;
    top: 26px !important;
    left: 125px !important;
  }

  mdb-carousel .my-style .carousel-indicators li {
    position: relative;
    bottom: 482px;
    right: 0 !important;
  }
  .bg-cap-z{
    z-index: -1;
    height: 409px;
    position: absolute;
    top: 50px;
    left: 114px;
    background-color: #223b40;
  }

  .container{
    main-width: 1166px !important;
     max-width: 1166px !important;

   }
  .card{
    width: 340px;
  }
  .container.home-cards{
    min-width: 1220px !important;
    max-width: 1220px !important;
  }
  .bg-cap-z{
    z-index: -1;
    height: 409px;
    width: 1091px;
    position: absolute;
    bottom: 104px;
    left: 45px;
    background-color: #223b40;
  }
  .width-cars {
    width: 1125PX;
    height: 385px;
    position: relative;
    top: 20px;
    left: 75px;
  }






}


//.ffff{
//  width: 100%;
//  height: 100%;
//  object-fit: cover;
//}
