.banner{
  background: url("https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-photo-1514043454212-14c181f46583.png") 0 0/cover;
  direction: rtl;
  height: 416px;
  width: 100%;
}
.toolbar-home{
  width: 1166px;
  height: 95px;
  border-radius: 200px;
  margin: auto;
  position: relative;
  bottom: 48px;
}
.site-color-light{
  background-color: rgb(70, 119, 126);

}
.first-logo{
  margin: 10px 30px;
  align-items: center;
}
