<div class="height-header"></div>

<div class="row">
  <div class="banner view ">
    <div class="mask rgba-black-light"></div>
  </div>
</div>

<div class="row">
  <div class="container logos-home">

    <div class=" toolbar-home navbar navbar-expand-lg site-color-light card-shadow1">
      <ul class="navbar-nav logo pl-3 col">

        <li class="nav-item text-center first-logo col-3 col-md-2" *ngFor="let logo of receivedPageData.assist_company; let i=index" [class.d-none]="i>=4"  [class.d-md-block]="i>=0">
          <a class="nav-link pt-3 " href="{{ logo.link }}">
            <img src="{{ logo.logo }}">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<!--/////////////////////////////////////////-->


<div class=" row ">
  <div class="container content px-15">
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade my-style" [animation]="'fade'" [interval]="30000">
      <!--First slide-->

      <mdb-slide *ngFor="let proposition of receivedPageData.value_proposition" >
        <div class="img-value-proposition">
          <img class=" shadow-card img-fluid " src="{{ proposition.img}}" alt="First slide">
        </div>
        <div class="carousel-caption ">
          <div class="bg-cap">
            <h1 class="font-29 text-right direction pb-3 text-center">{{ proposition.title }}</h1>
            <h4 class="font-20  direction text-justify">{{ proposition.caption }}</h4>
          </div>
        </div>
      </mdb-slide>

    </mdb-carousel>
    <div class="bg-cap-z">
    </div>
  </div>
</div>


<!--///////////////////////////////////////////-->
<div class="row site-color mt-171 m-813">
<div class="  news container">

  <!--<div class="cardjs m-auto" *ngFor="let i of [1,2,3,4,5]" >-->
    <!--<img class="card-with-pic img-fluid view" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg">-->
    <!--<div class="card-with-cap ">-->
      <!--<h2 class="text-card font-20">دیگر برنامه های فاطر</h2>-->
      <!--<p class="text-card2 font-18">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>-->
      <!--<div class="row text-center1 ">-->
        <!--<a class="nav-link btn-know font-16">اطلاعات بیشتر</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
</div>
<!--/////////////////////////////////////////////////////////-->


<!--//////////////////////////////////////////////////////////////////-->
<div class="row text-center1">
  <h1 class="pb-5 pt-5 font-29">اخبار</h1>
</div>


<!--/////////////////////////////////////////////////////////////////////-->




<div class="row">
  <div class="container home-cards">

    <div class="col-xs-4  col-xl-4 col-lg-4 col-sm-6 d-inline-block mb-0 mb-sm-5  " *ngFor="let program of receivedPageData.other_program; let i=index ">

      <!--Card-->
      <div class="card news-card-shadow mx-auto" [class.d-none]="i>=2"  [class.d-md-block]="i<=3" [class.d-lg-none]="i>=3">
        <!--[class.d-lg-block]="i<=8">-->
        <!--Card image-->
        <div class="view  waves-light img-of-card" mdbWavesEffect>
          <img src="{{ program.img }}" class="img-fluid  ffff" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <span>   <div class="share-icon-div ">
            <a class="activator p-3 mr-2  share-icon" routerLink="/information">
              <i class="fa fa-share-alt rotate-icon "></i>
            </a>
          </div>
        </span>

        <!--Card content-->
        <div class="card-body">
          <!--Text-->
          <p class="card-text card-text1 font-18">{{ program.caption }}</p>
        </div>
        <!--Card content-->

      </div>
      <!--/.Card-->
    </div>
  </div>
</div>


<!--//////////////////////////////////////////////////////////////////////-->
<div class="row text-center1 ">
  <a class="nav-link btn-news font-20" routerLink="/news">دیگر اخبار فاطر</a>
</div>














<!--<div class="container-header row">-->
<!--&lt;!&ndash; Card &ndash;&gt;-->
<!--<div class="card col-xl-3 col-lg-4">-->

<!--&lt;!&ndash; Card image &ndash;&gt;-->
<!--<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">-->

<!--&lt;!&ndash; Card content &ndash;&gt;-->
<!--<div class="card-body">-->

<!--&lt;!&ndash; Title &ndash;&gt;-->
<!--<h4 class="card-title"><a>Card title</a></h4>-->
<!--&lt;!&ndash; Text &ndash;&gt;-->
<!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--&lt;!&ndash; Button &ndash;&gt;-->
<!--<a href="#" class="btn btn-primary">Button</a>-->

<!--</div>-->

<!--</div>-->
<!--&lt;!&ndash; Card &ndash;&gt;-->
<!--&lt;!&ndash; Card &ndash;&gt;-->
<!--<div class="card col-xl-3 col-lg-4">-->

<!--&lt;!&ndash; Card image &ndash;&gt;-->
<!--<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">-->

<!--&lt;!&ndash; Card content &ndash;&gt;-->
<!--<div class="card-body">-->

<!--&lt;!&ndash; Title &ndash;&gt;-->
<!--<h4 class="card-title"><a>Card title</a></h4>-->
<!--&lt;!&ndash; Text &ndash;&gt;-->
<!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--&lt;!&ndash; Button &ndash;&gt;-->
<!--<a href="#" class="btn btn-primary">Button</a>-->

<!--</div>-->

<!--</div>-->
<!--&lt;!&ndash; Card &ndash;&gt;-->
<!--&lt;!&ndash; Card &ndash;&gt;-->
<!--<div class="card col-xl-3 col-lg-4">-->

<!--&lt;!&ndash; Card image &ndash;&gt;-->
<!--<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">-->

<!--&lt;!&ndash; Card content &ndash;&gt;-->
<!--<div class="card-body">-->

<!--&lt;!&ndash; Title &ndash;&gt;-->
<!--<h4 class="card-title"><a>Card title</a></h4>-->
<!--&lt;!&ndash; Text &ndash;&gt;-->
<!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--&lt;!&ndash; Button &ndash;&gt;-->
<!--<a href="#" class="btn btn-primary">Button</a>-->

<!--</div>-->

<!--</div>-->
<!-- Card -->
<!--</div>-->
