<div class="height-header"></div>

<div class="container-sec1 ">
<mdb-carousel class="slide-point" [isControls]="true" [animation]="'slide'">
  <!--First slide-->
  <mdb-slide>
    <img class="d-block w-100 " src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <img class="d-block w-100 " src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>



</div>


<!--<div class="col-md-4">-->

  <!--&lt;!&ndash;Card&ndash;&gt;-->
  <!--<div class="card card-cascade narrower card-body-collections">-->

    <!--&lt;!&ndash;Card image&ndash;&gt;-->
    <!--<div class="view overlay hm-white-slight waves-light width-card" mdbWavesEffect>-->
      <!--<img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="img-fluid" alt="">-->
      <!--<a>-->
        <!--<div class="mask"></div>-->
      <!--</a>-->
    <!--</div>-->
    <!--&lt;!&ndash;/.Card image&ndash;&gt;-->

    <!--&lt;!&ndash;Card content&ndash;&gt;-->
    <!--<div class="card-body ">-->
      <!--<h5 class="pink-text"><i class="fa fa-cutlery"></i> Culinary</h5>-->
      <!--&lt;!&ndash;Title&ndash;&gt;-->
      <!--<h4 class="card-title">Cheat day inspirations</h4>-->
      <!--&lt;!&ndash;Text&ndash;&gt;-->
      <!--<p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut-->
        <!--aliquid ex ea commodi.</p>-->
      <!--<a class="btn btn-unique waves-light" mdbWavesEffect>Button</a>-->
    <!--</div>-->
    <!--&lt;!&ndash;/.Card content&ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash;/.Card&ndash;&gt;-->

<!--</div>-->

<!--<div class="row">-->
<!--<div class="card-body-collections">-->
  <!--<div class="card-pic-collections">-->

  <!--</div>-->
<!--</div>-->
<!--</div>-->


<div class="width-card-collections">

<!--Card image-->
  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg" class="img-fluid card-pic-collections" alt="fern">
  <!--<a>-->
    <!--<div class="mask rgba-white-slight card-pic-collections"></div>-->
  <!--</a>-->
<!--/.Card image-->

  <!--Card content-->
  <div class=" card-body-collections">
    <p class="card-text card-text-collections font-16 white-text">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی
  <!--/.Card content-->
  <!--<div class="row text-center1 ">-->
    <!--<a class="nav-link btn-add font-16">بیشتر</a>-->
  <!--</div>-->
    <button type="button" class="btn btn-add btn-outline-info btn-rounded font-16" mdbWavesEffect>بیشتر</button>


</div>
</div>
