<div class="height-header"></div>
<!--Carousel Wrapper-->
<mdb-carousel  class="news-slider" [isControls]="true" [animation]="'slide'" [interval]="3000">
  <!--First slide-->
  <mdb-slide class="news-slider"  >
    <img class="d-block w-100" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b053bed12dba7000bc2aef2/5b053bee12dba7000cecf353/img/desktop-rectangle-3.png" alt="First slide">
  </mdb-slide >
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide class="news-slider" >
    <img class="d-block w-100" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-photo-1514043454212-14c181f46583.png" alt="Second slide">
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide class="news-slider" >
    <img class="d-block w-100" src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b053bed12dba7000bc2aef2/5b053bee12dba7000cecf353/img/desktop-rectangle-3.png" alt="Third slide">
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->



<!--////////////////////////////////////////////////////-->



<!--<div class="collections">-->
<!---->
<div class="row">
  <div class="  m-auto container container-collections  ">

    <div class="width-card-collections col-xl-4">

      <!--Card image-->
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b03bf94c8668f000c2ab90c/img/desktop-rectangle-13-copy 1.png" class="img-fluid card-pic-collections shadow-card" alt="fern">
      <!--<a>-->
      <!--<div class="mask rgba-white-slight card-pic-collections"></div>-->
      <!--</a>-->
      <!--/.Card image-->

      <!--Card content-->
      <div class=" card-body-collections col-xl-3">

        <p class="card-text card-text-collections font-16 white-text">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی
          <!--/.Card content-->
          <!--<div class="row text-center1 ">-->
          <!--<a class="nav-link btn-add font-16">بیشتر</a>-->
          <!--</div>-->
          <button type="button" class="btn btn-add btn-outline btn-rounded font-16" >بیشتر</button>


      </div>
    </div>


    <div class="width-card-collections col-xl-4">

      <!--Card image-->
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b03bf94c8668f000c2ab90c/img/desktop-rectangle-13-copy.png" class="img-fluid card-pic-collections shadow-card" alt="fern">
      <!--<a>-->
      <!--<div class="mask rgba-white-slight card-pic-collections"></div>-->
      <!--</a>-->
      <!--/.Card image-->

      <!--Card content-->
      <div class=" card-body-collections">
        <p class="card-text card-text-collections font-16 white-text">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی
          <!--/.Card content-->
          <!--<div class="row text-center1 ">-->
          <!--<a class="nav-link btn-add font-16">بیشتر</a>-->
          <!--</div>-->
          <button type="button" class="btn btn-add btn-outline btn-rounded font-16 " >بیشتر</button>


      </div>
    </div>


    <div class="width-card-collections col-xl-4">

      <!--Card image-->
      <img src="https://anima-uploads.s3.amazonaws.com/5a47554c8aafab000d8aa728/5b02b7c13a51d5000bd474f7/5b02b7c3c1baec000b6a06b0/img/desktop-rectangle-6%203.png" class="img-fluid card-pic-collections shadow-card" alt="fern">
      <!--<a>-->
      <!--<div class="mask rgba-white-slight card-pic-collections"></div>-->
      <!--</a>-->
      <!--/.Card image-->

      <!--Card content-->
      <div class=" card-body-collections">
        <p class="card-text card-text-collections font-16 white-text">به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی
          <!--/.Card content-->
          <!--<div class="row text-center1 ">-->
          <!--<a class="nav-link btn-add font-16">بیشتر</a>-->
          <!--</div>-->
          <button type="button" class="btn btn-add btn-outline btn-rounded font-16" >بیشتر</button>


      </div>
    </div>
  </div>

<!--</div>-->
</div>


<!--///////////////////////-->


<div class="row text-center1 add-btn-collection ">
  <a class="nav-link btn-add-collection font-20" routerLink="/news">بیشتر</a>
</div>
